name: Full CI Pipeline

on: workflow_dispatch
jobs:
    setup-and-test:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
                node-version: [18.x, 20.x]

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Use Node.js ${{ matrix.os }} ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - name: Install
              run: npm ci

            - name: Build
              run: npm run build

            - name: Test with coverage report
              run: npm run coverage:only

            - name: Upload to codecov.io
              uses: codecov/codecov-action@v2

    eslint:
        name: eslint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Use Node.js 16
              uses: actions/setup-node@v1
              with:
                  node-version: 16

            - name: Install
              run: npm ci

            - name: Lint
              run: npm run lint

    version_consistency:
        name: Check version consistency of packages
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: install node v16
              uses: actions/setup-node@v1
              with:
                  node-version: 16
            - name: verify packages version consistency accross sub-modules
              run: npm run check:versions

    prettier:
        name: Check coding style
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actionsx/prettier@v2
              with:
                  args: --check .
