name: Default CI Pipeline

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    setup-and-test:
        name: Tests (${{ matrix.os }}, Node ${{ matrix.node-version }})
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
                node-version: [18.x, 20.x]
                is-master:
                    - ${{ github.ref_name == 'master' }}
                exclude:
                    - os: macos-latest
                      is-master: false
                    - os: windows-latest
                      is-master: false

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Use Node.js ${{ matrix.os }} ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - name: Install
              run: npm ci

            - name: Build
              run: npm run build

            - name: Test with coverage report
              run: npm run coverage:only

            - name: Upload to codecov.io
              uses: codecov/codecov-action@v2

    eslint:
        name: eslint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Use Node.js 18
              uses: actions/setup-node@v1
              with:
                  node-version: 18

            - name: Install
              run: npm ci

            - name: Lint
              run: npm run lint

    version_consistency:
        name: Check version consistency of packages
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: install node v18
              uses: actions/setup-node@v1
              with:
                  node-version: 18
            - name: verify packages version consistency accross sub-modules
              run: npm run check:versions

    prettier:
        name: Check coding style
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actionsx/prettier@v2
              with:
                  args: --check .
